*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
}

nav{
    border: 2px solid;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    fill: white;
}
nav>div{
    /* border: 2px solid red; */
    width: 35%;
}
nav svg{
    height: 40px;
}
nav ol{
    /* border: 2px solid yellow; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 38%;
    font-size: 16px;
    font-weight: 600
}
nav li:hover{
    color: #1ed760;
    cursor: pointer;
}

main{
    /* border: 2px solid red; */
    height: 600px;
    background: url('./assets/bubbles-dktp\ \(1\).svg') center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));

}
main svg{
    height: 560px;
    position: absolute;
    left: 15%;
    /* top: 0%; */

}
main div{
    position: relative;
    top: 20%;
    height: 480px;
    /* border: 2px solid; */
    width: 400px;
    left: 10%;
}
main img{
    height: 420px;
    width: 262px;
    position: absolute;
    left: 16.5%;
    top: 12.3%;
    /* top: 150%; */
    /* bottom: 150%; */
}
main aside{
    /* border: 2px solid; */
    height: 400px;
    width: 750px;
    position: absolute;
    left: 40%;
    top: 35%;
}
main h1{
    font-size: 65px;
    font-weight: bold;
    color: white;
}
main button{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

 #sec1{
    /* border: 2px solid; */
    height: 600px;
 }
 #sec1 h1{
    text-align: center;
    font-size: 41px;
 }
 #sec1 aside{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 55px;
 }

 #sec1 div{
    /* border: 2px solid green; */
    height: 260px;
    width:240px;
    text-align: center;
 }
 #sec1 img{
    height: 140px;
    width: 140px;
 }
 #sec1 p{
    line-height: 27px;
 }
 #sec1 h3{
    font-weight: 700;
    font-size: 20px;
 }
 #sec2{
    /* border: 2px solid red; */
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
 }